@font-face {
  font-family: 'euclid-circular-a';
  src: url("../Euclid Circular A Medium.ttf");
  font-display: block;
}

* {
  margin: 0;
  padding: 0;
  font-family: 'euclid-circular-a';
}

header {
  display: flex;
  justify-content: space-between;
  background: #FFFFFFE5;
  padding: 0.5% 1%;
  position: relative;
  width: 100%;

}
body{
  background-color: #eeeeee;
  overflow-x: hidden;
}